body {
  background-color: rgb(13,7,30);
}

.jumbotron {
  background-image: url("http://www.blogto.com/upload/2015/11/20151111-brx1.jpg");
  height: 400px;
  background-position: bottom center;
}

.navigation {
  height: auto;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
}


.navigation  {
  font-family: Source Code Pro;
  font-weight: 600;
  font-style: normal;
  color: #3fabf5;
}
